/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Google Font end  */
body{
    padding: 0px;
    margin: 0px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    background-color: #2D25A0;
    margin-bottom: 50px;

}
/*---------------------------------------
    header stat style  
    -------------------------------------*/
.section-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    
    }
.section-ditals h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 64px;
    width: 500px;
}
.section-ditals a{
    background-color: #E02C6D;
    margin: 0px 8px;
    padding: 10px 35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.section-ditals a.arrow{
    color: white;
    font-size: 100px;

}
.top-banner img{
    width: 550px;
    height: 430px;

}
/*------------------------- header style end  ------------------------------*/
/*-------------------------------------
 football players ditals stat 
 ---------------------------------------*/
 .article-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.football-players{
     width: 1050px;
     display:grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 32px;
     grid-row-gap: 30px;
 }
 .players{
     width: 300px;
     padding: 15px;
     background-color: #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

     
 }
 .player{
     width: 300px;
 }
 .player img{
     width: 300px;
     height:256px ;
 }
 .section-title{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
 }
 .section-info{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

 }
 /*------------------------------------ football players ditals end  ----------------------------------*/

 /*----------------------------------------------------- 
           Article section
        Copa America Highlights 
                stat  
    -----------------------------------------------*/
.section-copa{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;

}
.copa-cup{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
 .copa-ditals h1{
     font-size: 48px;
     width: 500px;
     color: #0A0826;

 }
 .copa-ditals p{
     font-size: 16px;
     width: 400px;
 }
 .copa-ditals a{
    background-color: #E02C6D;
    margin: 0px 8px;
    padding: 10px 35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
 }
 .copa-ditals  a.arrow{
    color: white;
    font-size: 100px;

}
 .copa-player img{
   width: 567px;
    height: 427px;    
 }
 /*------------------------------------ end ------------------------------ */
/*-----------------------------
           video stat    
    --------------------------------- */
 .section-video{
     display: flex;
     flex-direction:column;
     align-items: center;
     
 }
.section-v-title{
    font-size: 48px;
    width: 500px;
    color: #0A0826;
}
 .video-final{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .section-v-ditals{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 30px;
 }
 
 /*---------------------------------- end ---------------------------------- */
 /*--------------------------------
         footer style  
    ----------------------------------*/
 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
} 

.footer-container{
    width: 490px;
    height: 230px; 

    
}
.footer-logo img{
    width: 490px;
    height: 120px;

}
.social-link{
    font-size: 35px;
}

/*------------------------------------------------------------- footer end  ---------------------------------*/

/*-----------------------------
      Midea Queries 
------------------------------ */


/*------------------------ Mobile devices -------------------------------- */
@media only screen and (max-width:689px) {
body{
        width:100%;
}
.container{
        width: 100%;
}
.section-ditals h1{
        font-size: 1.25em;
}
.section-container ,.copa-cup, .football-players{
     grid-template-columns: repeat(1,1fr);
}

.article-section{
     flex-direction: unset;
     width: 100%;

}
.copa-player img{
    padding-top: 2%;
    width: 400px;
    height: 350px;

}
.top-banner img{
    padding-top: 2%;
    width: 400px;
    height: 350px;
}
.section-v-ditals{
    grid-template-columns: repeat(1,1fr);
    
}
}
/*---------------------- Tablet devies  --------------------------------------------*/
@media only screen and (min-width:688px) and (max-width:992px) {
body{
        width:100%;
}
.container{
        width: 100%;
}

.football-players{
     grid-template-columns: repeat(2,1fr);

}
.copa-player img{
    padding-top: 2%;
    width: 400px;
    height: 350px;

}
.top-banner img{
    padding-top: 2%;
    width: 400px;
    height: 350px;
}

}